<h1>New Gif</h1>

<form action="/create_gif">
  <div>
    <label for="url">url</label><br />
    <input id="url" name="url" type="text" />
  </div>
  <div>
    <label for="caption">caption</label><br />
    <input id="caption" name="caption" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

