<h1>New User</h1>

<form action="/create_user_id">
  <div>
    <label for="name">name</label><br />
    <input id="name" name="name" type="text" />
    <input type= "text" name="user_id" placeholder="enter user_id name"
  </div>
  <div>
    <label for="email">email</label><br />
    <input id="email" name="email" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

